footer {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 199px;
    background: #464547;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    line-height: 119%;
    color: rgba(255, 255, 255, 0.4);
}

.footer-grid-container {
    position: absolute;
    display: grid;
    grid-template: repeat(2, 44px) / repeat(7, 1fr);
    width: 840.67px;
    height: 88px;
    top: 37px;
}

.footer_logo {
    position: absolute;
    width: 128px;
    height: 20px;
}

.tiny_logo {
    position: absolute;
    left: 0;
    top: 0;
}

aside {
    position: absolute;
    width: 92px;
    height: 16px;
    left: 36px;
    top: 2px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    line-height: 16px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.footer-address {
    grid-column: 3 / span 1;
    grid-row: 1 / span 1;
    align-self: start;
    margin: 0;
    white-space: nowrap;
    width: 174px;
    height: 33px;
}

.footer-email {
    grid-column: 3 / span 1;
    grid-row: 2 / span 1;
    align-self: end;
    margin: 0;
    white-space: nowrap;
    width: 142px;
    height: 22px;
}

.footer-year {
    grid-column: 6 / span 2;
    grid-row: 2 / span 1;
    align-self: end;
    margin: 0;
    white-space: nowrap;
    width: 230px;
    height: 22px;
}